apiVersion: 1

datasources:
- name: ft_services
  type: influxdb
  access: proxy
  orgId: 1
  url: http://influxdb:8086
  user: influxuser
  password: ${INFLUXUSER_PASS}
  database: influxname
  isDefault: true
  editable: true
  version: 1
